# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code settings
.vscode/
# Terraform
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/terraform.tfvars
infra/*.tfvars

# Terraform
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/terraform.tfvars
infra/*.tfvars
food_checker.db
*.db
